YEARS_MONGODB_URI=mongodb://127.0.0.1:27017/comparisonsui_years
TGI_MONGODB_URI=mongodb://127.0.0.1:27017/comparisonsui_tgi
COMPARISONS_MONGODB_URI=mongodb://127.0.0.1:27017/comparisonsui_comparisons
